.ball {
  height: 4vw;
  width: 4vw;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  left: calc(50% - 2vw);
  max-width: 50px;
  max-height: 50px;
}

.tube {
  position: relative;
  left: 0%;
}